parameters:

application:
    errorPresenter: Error
    mapping:
        Front: App\Modules\Front\Presenters\*Presenter
        Admin: App\Modules\Admin\Presenters\*Presenter

session:
    expiration: 14 days

services:
    - App\Router\RouterFactory::createRouter
    - App\Model\UserFacade
    security.passwords: Nette\Security\Passwords(::PASSWORD_ARGON2ID)